<div class="container">
     <div class="row row-offcanvas row-offcanvas-right">
	    <div class="col-12 col-sm-12 col-lg-12 col-xs-12 col-md-12">
    		<div class="jumbotron" style="display:block; background-color:#43CD80;">
    		  <div class="container">
        <p style="color:white;font-family:FangSong;font-size:70px">欢迎来到养娃宝商家平台!</h1>
        <!-- <p id="kouhao1" style="color:#004c99; font-style:italic; font-family:kaiti;font-size:40px;">宝宝成长的好帮手！</p> -->
        <div id="kouhao" style="color:#004c99; font-style:italic; font-family:kaiti;font-size:40px; padding-left:50px">宝宝成长的好帮手！</div>
        <div style="padding-top:20px"><a class="btn btn-primary btn-lg" role="button" href="/merchant/accounts/register/">商家注册 &raquo;</a></div>
        </div>
		   </div>
      </div>
      </div>
</div>
