	  <form name = "login_form" class="navbar-form navbar-right form-signin" role="form" action="/merchant/login/" method="post" style="padding-top:9px">
	    {% csrf_token %}
				<div class="form-group">
        {{login_form.username}}
				</div>
				<div class="form-group">
        {{login_form.password}}
				</div>
				<div class="form-group">
        {% if login_form.username.errors %}  
            {{ login_form.username.errors }}  
        {% endif %}
				</div>
				<div class="form-group">
        <button class="btn_style " type="submit" name=login>登录</button>
				</div>
    </form>
