{% extends "merchant/base.html" %}

{% block title %}养娃宝商家平台{% endblock %}

{% block customcss %}
    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css?v=3" rel="stylesheet">
    <style>
    #content {
      padding-top:30px;
    }
    </style>
{% endblock %}

{% block content %}

  {% include "merchant/home_slogan.html" %}
  {% include "merchant/home_info.html" %}
{% endblock %}

{% block customjs %}
    <script src="/static/js/offcanvas.js"></script>
    <script>
    //setInterval(function() {$("#kouhao").animate({"width":"+=5px"},1000)}, 3000)
    function movekouhaoright() {
      $("#kouhao").animate({"padding-left":"-=200px"},4000);
      setTimeout("movekouhaoleft()", 100);
    }
    function movekouhaoleft() {
      $("#kouhao").animate({"padding-left":"+=200px"},4000);
      setTimeout("movekouhaoright()", 100);
    }
    setTimeout("movekouhaoleft()", 100);
    </script>
   

{% endblock %}
