<!-- <div id="navbarywb" class="navbar navbar-fixed-top" role="navigation" style="background-color:#222;border-color: #080808"> -->
<div id="navbarywb" class="navbar navbar-fixed-top" role="navigation" style="background:#140101">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/merchant/"><canvas id="logoCanvas" width="100" height="30" style="border:1px dashed red"></canvas></a> -->
          <a  href="/merchant/"><canvas id="logoCanvas" width="150" height="60" style="padding-top:10px"></canvas></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav menu">
            <li><a href="/apphome/">下载应用</a></li>
            <li><a href="/merchant/about">关于我们</a></li>
          </ul>
          
          {% include "merchant/navbar_form.html" %}
          
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->


