{% extends "merchant/base.html" %}

{% block title %}{% endblock %}

{% block customcss %}
    <!-- Custom styles for this template -->
    <link href="/static/css/offcanvas.css" rel="stylesheet">
{% endblock %}

{% block content %}

  {% include "merchant/register_form.html" %}

{% block customjs %}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=GLbmnUGjCe4B62dqW6l695fL"></script>
    <script type="text/javascript">
var map = new BMap.Map("allmap");
var point = new BMap.Point(116.404, 39.915);
map.centerAndZoom(point, 14);
var marker = new BMap.Marker();
distance = 2000

function GetXmlHttpObject() {  
var xmlHttp=null;  
try {  
// Firefox, Opera 8.0+, Safari  
xmlHttp=new XMLHttpRequest();  
} catch (e) {  
// Internet Explorer  
try {  
xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");  
} catch (e) {  
xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");  
}  
}  
if (xmlHttp==null) {  
alert ("Your browser does not support AJAX!");  
return;  
}  
return xmlHttp;  
}

function addMarker(point){
  var marker = new BMap.Marker(point);
  map.addOverlay(marker);
  marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
}

function getsurr(longitude, latitude){
var xmlHttp=GetXmlHttpObject();  
responseText="";
xmlHttp.onreadystatechange= function() {  
if (xmlHttp.readyState==4) {  
if (xmlHttp.status==200) {  
// Here we process the response  
    responseText=xmlHttp.responseText;
    userpoints = eval(responseText);
    for (var p in userpoints) {
      var point = new BMap.Point(userpoints[p].x, userpoints[p].y);
      addMarker(point);
    }//add points on map
} else {  
alert("An error has occurred");  
}  
}  
}
RequestURL="http://localhost:8000/surrounding/getsurr/?longitude="+longitude+"&latitude="+latitude+"&distance="+distance;
xmlHttp.open("GET",RequestURL,true); //submit the URL request  
xmlHttp.send(null);
}

function fillform(){
  var p = marker.getPosition();
  //alert(p.lng + "," +p.lat);
  if(p.lng) {
    register_form.longitude.value = p.lng;
    register_form.latitude.value = p.lat;
  } else {
  var myGeo = new BMap.Geocoder();
	// 将地址解析结果显示在地图上,并调整地图视野
	var city = register_form.city.value;
	var address = register_form.address.value;
	myGeo.getPoint(address, function(point){
  if (point) {
    register_form.longitude.value = point.lng;
    register_form.latitude.value = point.lat;
 }
},city);
      }
}

function locatemap(){
var myGeo = new BMap.Geocoder();
// 将地址解析结果显示在地图上,并调整地图视野
var city = register_form.city.value
var address = register_form.address.value
myGeo.getPoint(address, function(point){
  if (point) {
    map.centerAndZoom(point, 15);
    marker = new BMap.Marker(point);
    map.addOverlay(marker);
    getsurr(point.lng, point.lat, distance);
    var circle = new BMap.Circle(point,distance);
    map.addOverlay(circle);
    marker.enableDragging();
 }
},city);
}

</script>
{% endblock %}

{% endblock %}


